@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-text-primary: #171717;
  --color-text-secondary: #737373;
  --color-text-tertiary: #a3a3a3;
  --color-text-danger: #dc2626;
  --color-background-primary: #ffffff;
  --color-background-secondary: #f5f5f5;
  --color-border-primary: #171717;
  --color-border-secondary: #d4d4d4;
  --color-border-tertiary: #e5e5e5;
  --border-radius-md: 6px;
  --border-radius-lg: 12px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-background-primary);
  color: var(--color-text-primary);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  font-size: 13px;
}
